*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header,footer {
    width: 100%;
    text-align: right;
    background-color: #4b2e83;
    padding: 5px;
    border-bottom: 10px solid rgb(158, 135, 132);
}


body{
    position:relative;
    font-family: "comic sans ms";
    font-size: 20px;
    min-height: 100vh;
}


 ul{
    list-style-type: none;
}

li{
    display: inline;
    /* margin-left: 25px; */
    padding: 0 20px;
}

a{
    color: white;
    text-decoration: none;
    cursor: pointer;
} */

main {
    padding: 60px;
}

/* h1{
    text-align: center;
    } */

img{
    /* position: relative; */
    /* left: 430px; */
    display: block;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
}

#contact {
    margin-top: 60px;
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    background-color: #b7a57a;
}

form{
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: solid 5px #85754d;

}

label {
    display: inline-block;
    width: 100%;
}

input {
    width: 300px;
}

.text-center {
    text-align: center;
}

.radius {
    border-radius: 10px;
}

/* p{
    text-align: center;
} */

/* figure{
    text-align: center;
} */

.contact{
    text-align: center;
    background-color: rgb(245, 205, 200);
    padding: 20px;
    border-top: 5px solid rgb(252, 177, 168);
}

footer{
    text-align: center;
    background-color: #396b39;
    padding: 10px;
    color: white;
    border-bottom: 10px solid rgb(167, 167, 167);
    position: absolute;
    bottom: 0;
    }

header,footer{
    height: 60px;
    line-height: 60px;
}


button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(167, 167, 167);
}

/* header { 
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
*/
